@page "/towerblock"

<div id="container">
    <GameExit />
    <GameTowerBlockGame />
    <GameTowerBlockScore />
    <GameTowerBlockInstructions />
	<GameTowerBlockOver />
    <GameTowerBlockReady />
</div>

@code
{
    protected override async Task OnInitializedAsync()
    {
        AppCenterService.TrackEvent("Game-TowerBlock", "JoinGame", "Joined");
        
        await Include.Stylesheet("css/game/towerblock/style.css");

        await Include.Script("js/game/towerblock/three.min.js");

        await Include.Script("js/game/towerblock/TweenMax.min.js");
        
        await GetRender();
    }

    private async Task GetRender()
    {
        await Task.Delay(250);

        await Include.Script("js/game/towerblock/script.js");
    }
}