@page "/towerofhanoi"
@inject IStringLocalizer<SweetMemoryLocalization> Localizer

<div id="canves">
    <div class="restart"><i class="fa fa-repeat"></i></div>
    <div class="curtain"></div>
    <ul id="score-panel">
        <li><i class="fa fa-star"></i></li>
        <li><i class="fa fa-star"></i></li>
        <li><i class="fa fa-star"></i></li>
        <li>
            <h1> <span id="moves-num"></span><span> Moves</span></h1>
        </li>
    </ul>
    <ul class="tower" id="tower-1"></ul>
    <ul class="tower" id="tower-2"></ul>
    <ul class="tower" id="tower-3"></ul>
</div>

@code
{
    protected override async Task OnInitializedAsync()
    {
        AppCenterService.TrackEvent("Game-TowerOfHanoi", "JoinGame", "Joined");

        await Task.Delay(DelayValue.Initialize);

        await Include.Stylesheet("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css");
        
        await Include.Stylesheet("css/game/towerofhanoi/coda.400.css");

        await Include.Stylesheet("css/game/towerofhanoi/sweetalert2.min.css");
        await Include.Stylesheet("css/game/towerofhanoi/animate.css");
        await Include.Stylesheet("css/game/towerofhanoi/style.css");

        await Include.Script("js/game/towerofhanoi/jquery.min.js");

        await GetRender();
    }

    private async Task GetRender()
    {
        await Task.Delay(DelayValue.Render);

        await Include.Script("js/game/towerofhanoi/sweetalert2.min.js");
        await Include.Script("js/game/towerofhanoi/script.js");

        await Task.Delay(DelayValue.Localization);
        
        //await Interop.Call("SetLocalization", Localizer["WinTitle"].Value, Localizer["WinText"].Value, Localizer["WinConfirm"].Value, Localizer["RestartTitle"].Value, Localizer["RestartText"].Value, Localizer["RestartConfirm"].Value, Localizer["RestartCancel"].Value, Localizer["ExitTitle"].Value, Localizer["ExitText"].Value, Localizer["ExitConfirm"].Value, Localizer["ExitCancel"].Value);
    }
}