@page "/classic2048"

<main class="wrapper">
    <GameExit />
    <GameClassic2048Intro />
    <GameClassic2048Controls />
    <GameClassic2048Board />
    <GameClassic2048Guide />
</main>

<GameClassic2048Template />

@code
{
    protected override async Task OnInitializedAsync()
    {
        await Include.Stylesheet("https://fonts.googleapis.com/css?family=Rubik:300,400,700");
        await Include.Stylesheet("css/game/classic2048/normalize.min.css");
        await Include.Stylesheet("css/game/classic2048/style.css");

        await Include.Script("js/game/classic2048/jquery.js");

        await GetRender();
    }
    
    private async Task GetRender()
    {
        await Task.Delay(250);

        await Include.Script("js/game/classic2048/lodash.js");
        await Include.Script("js/game/classic2048/hammer.js");
        await Include.Script("js/game/classic2048/script.js");

        await Task.Delay(500);

        try
        {
            await Interop.Call("gameStart");
        }
        catch
        {
            //Erken çıktı.
        }
    }
}