<div class="ui__theme">
    <range name="hue" title="Hue" color></range>
    <range name="saturation" title="Saturation" color></range>
    <range name="lightness" title="Lightness" color></range>
</div>