<div class="ui__texts">
    <h1 class="text text--title">
        <span>THE</span>
        <span>CUBE</span>
    </h1>
    <div class="text text--note">
        Double tap to start
    </div>
    <div class="text text--timer">
        0:00
    </div>
    <div class="text text--complete">
        <span>Complete!</span>
    </div>
    <div class="text text--best-time">
        <icon trophy></icon>
        <span>Best Time!</span>
    </div>
</div>