<div class="ui__buttons">
    <button class="btn btn--tl btn--exit">
        <icon exit></icon>
    </button>
    <button class="btn btn--bl btn--stats">
        <icon trophy></icon>
    </button>
    <button class="btn btn--br btn--prefs">
        <icon settings></icon>
    </button>
    <button class="btn btn--bl btn--back">
        <icon back></icon>
    </button>
    <button class="btn btn--br btn--theme">
        <icon theme></icon>
    </button>
    <button class="btn btn--br btn--reset">
        <icon reset></icon>
    </button>
</div>