@inject IStringLocalizer<TowerBlockLocalization> Localizer

<div class="game-over">
    <h2>@Localizer["GameOver"]</h2>
    <p>@Localizer["GameOverOne"]</p>
    <p>@Localizer[$"GameOver{Taiizor.Essentials.Maui.Helper.Device.GetDeviceType}"]</p>
</div>