html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*background: #FF9090;*/
    overflow: hidden;
    font-family: "Coda", cursive;
}

.deck {
    width: 345px;
    margin: 0 auto;
    background: #FFFA62;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 14px 14px 0 0 #fffa6210;
}

    .deck .card {
        height: 75px;
        width: 75px;
        background: #FFCF7F;
        display: inline-block;
        margin: 0 15px 15px 0;
        line-height: 140px;
        font-size: 0;
        color: #ffffff;
        text-align: center;
        border-radius: 8px;
        vertical-align: top;
        cursor: pointer;
        transform: rotateY(180deg);
        transform-style: preserve-3d;
        transition: transform 0.3s ease;
        font-family: FontAwesome;
        line-height: 75px;
    }

        .deck .card:nth-child(4n) {
            margin: 0 0 15px 0;
        }

        .deck .card:nth-child(n+13) {
            margin: 0 15px 0 0;
        }

            .deck .card:nth-child(n+13):nth-child(4n) {
                margin: 0;
            }

        .deck .card.open {
            transform: rotateY(0);
            background: #89C4FF;
            cursor: default;
        }

        .deck .card.show {
            font-size: 33px;
        }

        .deck .card.match {
            transform: rotateY(0);
            cursor: default;
            background: #9BCB3C;
            font-size: 33px;
        }

        .deck .card.notmatch {
            background: #EE0E51;
        }

#score-panel {
    text-align: center;
    width: 345px;
    margin-bottom: 10px;
    color: skyblue;
}

    #score-panel .stars {
        margin: 0;
        padding: 0;
        display: inline-block;
        margin: 0 5px 0 0;
    }

        #score-panel .stars li {
            list-style: none;
            display: inline-block;
        }

    #score-panel .exit {
        float: left;
        cursor: pointer;
        margin-left: 25px;
    }
    
    #score-panel .restart {
        float: right;
        cursor: pointer;
    }

*::-moz-selection {
    background: transparent;
}

*::selection {
    background: transparent;
}

.swal2-overlay {
    background-color: #1c2020;
}