@inject IStringLocalizer<MagicSquareLocalization> Localizer

<div id="winner">
    <div class="header">@Localizer["Congratulations"]</div>
    <div id="new">@Localizer["PlayAgain"]</div>
    <div id="close">@Localizer["Close"]</div> <!-- Sneaky multiplication -->
</div>