<section class="guide clearfix ">
    <h2> What is this? </h2>
    <p>
        Although coded entirely from scratch, this game is a (lackluster) copy of Gabriele Cirulli's 2048, https://soferity.dev.
    </p>
</section>
<section class="guide clearfix">
    <h2> How do I play? </h2>
    <p>
        Tiles with matching number values can be merged into a single tile, which receives the values' sum.
    </p>
    <p> To move the board, use the directional arrows - or swipe.</p>
    <div class="guide_arrow-wrap">
        <span class="guide_arrow"> &uHar; </span>
        <span class="guide_arrow"> &lHar; </span>
        <span class="guide_arrow"> &rHar; </span>
        <span class="guide_arrow"> &dHar; </span>
    </div>
    <p>
        To win, get a 2048 tile.
    </p>
</section>