<div class="container d-flex">
    <div class="row row-cols-1 row-cols-md-3 g-4 gy-* mt-3 mb-3" style="display: flex; align-items: flex-start">
        @foreach (GameStruct Game in GameValue.Games.Values)
        {
            <MainCard Game="@Game" />
        }
    </div>
</div>