@if (AppValue.Platform == PlatformEnum.MacCatalyst || AppValue.Platform == PlatformEnum.iOS)
{
    <div class="wrapper">
        <canvas id="introduction-canvas"></canvas>
        <div class="introduction-canvas--overflow"></div>
    </div>
}
else if (AppValue.Platform == PlatformEnum.Android)
{
    <div id="particle"></div>
}
else
{
    <div id="world"></div>
}

@code
{
    protected override async Task OnInitializedAsync()
    {
        if (AppValue.Platform == PlatformEnum.MacCatalyst || AppValue.Platform == PlatformEnum.iOS)
        {
            await Include.Stylesheet("css/main/apple/style.css");
            
            await Include.Script("js/main/apple/script.js");
        }
        else if (AppValue.Platform == PlatformEnum.Android)
        {
            await Include.Stylesheet("css/main/android/styles.css");
            
            await Include.Script("js/main/android/jquery.min.js");
        }
        else
        {
            await Include.Stylesheet("css/main/winui/custom.css");
            
            await Include.Script("js/main/winui/three.min.js");
        }

        await GetRender();
    }
    
    private async Task GetRender()
    {
        await Task.Delay(DelayValue.Render);
        
        if (AppValue.Platform == PlatformEnum.MacCatalyst || AppValue.Platform == PlatformEnum.iOS)
        {
            //
        }
        else if (AppValue.Platform == PlatformEnum.Android)
        {

            await Include.Script("js/main/android/script.js");
        }
        else
        {
            await Include.Script("js/main/winui/orbitcontrols.js");
            await Include.Script("js/main/winui/custom.js");
        }
    }
}