@inject IStringLocalizer<ValorousRabbitLocalization> Localizer

<div id="instructions">
    @Localizer[$"DescriptionOne{Device.KindTypeString}"]
    <span class="lightInstructions">@Localizer["DescriptionTwo"]</span>
</div>