@inject IStringLocalizer<ValorousRabbitLocalization> Localizer

<div id="instructions">
    @Localizer[$"DescriptionOne{HelperDevice.GetDeviceType}"]
    <span class="lightInstructions">@Localizer["DescriptionTwo"]</span>
</div>