<div class="container">
    <div class="start-game game-full-flex" id="start-game">
        <GameColoronTop />
        <GameColoronLogo />
        <GameColoronGuide />
    </div>
    <GameColoronStop />
    <div class="small-glows"></div>
    <div class="glow">
        <div class="sun"></div>
    </div>
    <GameColoronWaves />
    <div class="mounts">
        <div class="mount1"></div>
        <div class="mount2"></div>
    </div>
    <div class="clouds"></div>
    <GameColoronScene />
    <div class="noise"></div>
</div>