<div class="scene">
    <div class="learn-to-play">@Localizer[$"Learn{Device.KindTypeString}"]</div>
    <div class="score" id="score"></div>
    <div class="ball-holder"></div>
    <div class="sticks" id="sticks"></div>
</div>