<div class="logo-holder">
    <p class="logo">
        <span>C</span>
        <span>o</span>
        <span>l</span>
        <span>o</span>
        <span>r</span>
        <span>o</span>
        <span>n</span>
    </p>
    <a class="play-button" onclick="game.start()">@Localizer["Play"]</a>
    <h4 class="hint">@Localizer["Hint"]: <span>@Localizer["Red"]</span> @Localizer["HintDescription"]</h4>
</div>