<noscript type="text/html" id="template_grid_cell">
    <div class="grid_cell"></div>
</noscript>

<noscript type="text/html" id="template_tile">
    <div class="tile">
        <span class="tile_number"> </span>
    </div>
</noscript>