<div class="hud">
    <div class="hud__score">
        <div class="score-lbl"></div>
        <div class="cube-count-lbl"></div>
    </div>
    <div class="pause-btn">
        <div></div>
    </div>
    <div class="slowmo">
        <div class="slowmo__bar"></div>
    </div>
</div>