<div class="menu menu--pause">
    <h1>@Localizer["Paused"]</h1>
    <button type="button" class="resume-btn">@Localizer["ResumeGame"]</button>
    <button type="button" class="menu-btn--pause">@Localizer["MainMenu"]</button>
    <button type="button" class="menu-btn--exit">@Localizer["ExitGame"]</button>
</div>