<div class="menu menu--main">
    <h1>@Localizer["Name"]</h1>
    <button type="button" class="play-normal-btn">@Localizer["NormalMode"]</button>
    <button type="button" class="play-casual-btn">@Localizer["CasualMode"]</button>
    <button type="button" class="play-exit-btn">@Localizer["ExitGame"]</button>
</div>