<div class="ui__theme">
    <range name="hue" title="@Localizer["Hue"]" color></range>
    <range name="saturation" title="@Localizer["Saturation"]" color></range>
    <range name="lightness" title="@Localizer["Lightness"]" color></range>
</div>