<div id=end style=display:none>
    <h1>You win</h1>
    <p><b>Let's party!</b><br><small>Success is commemorated; failure merely remembered</small><br>Written for Soferity</p>
    <div id=reset>PLAY AGAIN</div>
</div>