@page "/"

@inject NavigationManager NM

<div id="world"></div>

<div class="container d-flex">
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-3 mb-3">
        @foreach (GameStruct Game in GameValue.Games.Values)
        {
            <GameCard Game="@Game" />
        }
    </div>
</div>

@code
{
    protected override async Task OnInitializedAsync()
    {
        await Include.Font("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");

        await Include.Stylesheet("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

        await Include.Stylesheet("css/main/mdb.dark.min.css");
        await Include.Stylesheet("css/main/custom.css");

        await Include.Script("js/main/mdb.min.js");
        await Include.Script("js/main/three.min.js");

        await GetRender();
    }
    
    private async Task GetRender()
    {
        await Task.Delay(250);

        await Include.Script("js/main/OrbitControls.js");
        await Include.Script("js/main/custom.js");
    }
}