<div class="ui">
    <div class="ui__background"></div>
    <div class="ui__game"></div>
    <GameTheCubeTexts />
    <GameTheCubePrefs />
    <GameTheCubeTheme />
    <GameTheCubeStats />
    <GameTheCubeButtons />
</div>