<div class="ui__stats">
    <div class="stats" name="cube-size">
        <i>Cube:</i><b>3x3x3</b>
    </div>
    <div class="stats" name="total-solves">
        <i>Total solves:</i><b>-</b>
    </div>
    <div class="stats" name="best-time">
        <i>Best time:</i><b>-</b>
    </div>
    <div class="stats" name="worst-time">
        <i>Worst time:</i><b>-</b>
    </div>
    <div class="stats" name="average-5">
        <i>Average of 5:</i><b>-</b>
    </div>
    <div class="stats" name="average-12">
        <i>Average of 12:</i><b>-</b>
    </div>
    <div class="stats" name="average-25">
        <i>Average of 25:</i><b>-</b>
    </div>
</div>