<div id="board">
    @*<div class="row">
    <div class="number"></div>
    <div class="symbol"></div>
    <div class="gap"></div>
    <div class="result wrong" actual="39">40</div>
    </div>*@
</div>