<div id="keyboard">
    <div class="key" key="1">1</div>
    <div class="key" key="2">2</div>
    <div class="key" key="3">3</div>
    <div class="key" key="4">4</div>
    <div class="key" key="5">5</div>
    <div class="key" key="6">6</div>
    <div class="key" key="7">7</div>
    <div class="key" key="8">8</div>
    <div class="key" key="9">9</div>
    <div class="key" key="0">&nbsp;</div>
</div>