<div id="hidden">
    <!-- Keeps cursor images loaded -->
    <img src="../../../img/game/magicsquare/cursor_default.png" alt="">
    <img src="../../../img/game/magicsquare/cursor_1.png" alt="">
    <img src="../../../img/game/magicsquare/cursor_2.png" alt="">
    <img src="../../../img/game/magicsquare/cursor_3.png" alt="">
    <img src="../../../img/game/magicsquare/cursor_4.png" alt="">
    <img src="../../../img/game/magicsquare/cursor_5.png" alt="">
    <img src="../../../img/game/magicsquare/cursor_6.png" alt="">
    <img src="../../../img/game/magicsquare/cursor_7.png" alt="">
    <img src="../../../img/game/magicsquare/cursor_8.png" alt="">
    <img src="../../../img/game/magicsquare/cursor_9.png" alt="">
    <img src="../../../img/game/magicsquare/cursor_clear.png" alt="">
</div>